.product-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 300px;
    height: auto;
    padding: 10px;
    box-shadow: 2px 2px 3px 1px var(--light-shadow) , -2px -2px 3px 1px var(--light-shadow);
}

.product-title {
    color: var(--black-title);
}

.product-body {
    color: var(--black-text);
}

.product-price {
    font-weight: 700;
    color: var(--light-green-text);
}

.product-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product-link {
    text-decoration: none;
    font-weight: 600;
    color: var(--blue);
}

.normal-button {
    border: none;
    border-radius: 6px;
    padding: 4px 8px;
    text-align: center;
    color: var(--white-text);
}