* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white-text: #f1f1f1;
    --black-text: #3a3a3a;
    --black-title: #333333;
    --light-green-text: #22aa71;
    --black-background: #303030;
    --light-shadow: #ececec;
    --blue: #0D6EFD;
}